{
    "presets": [
        ["env", {
            "modules": false,
            "spec": false,
            "loose": true
        }]
    ],
    "env": {
        "test": {
            "presets": [["env"]]
        }
    }
}
